<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ titel }}</title>

    <style type="text/css">
        #top{
            width: 100%;
            height: 600px;
        }
        #bottom{
            width: 100%;
            height: 600px;
        }
        #avilist{
            width: 24%;
            float: left;
            height: 80%;
        }
        #bodylist{
            width: 52%;
            float: left;
            height: 80%;
        }
        #advest{
            width: 24%;
            float: left;
            height: 80%;
        }

    </style>
</head>
<body>

<div id="bannar">
    <h1>菜鸟教程</h1>
    <p>
        <span>首页 | html | css | python</span>
    </p>

</div>
<div id="top">
    <div id="avilist">
        {% block navilst %} {% endblock navilst %}
    </div>
    <div id="bodylist">
        {% block bodylist %} {% endblock bodylist %}
    </div>
    <div id="advest">
        {% block advest %} {% endblock advest %}
    </div>
</div>

<div id="bottom">
    <p>底部导航链接</p>
</div>


</body>
</html>